<ion-header>
  <ion-navbar>
    <ion-title>
      Hey Mate!
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="gotoDictionary()">
        <ion-icon name="search" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let todo of todos" id="messages">
    <ion-card *ngIf="todo.type == 'user'" class="user">
      <ion-card-content>
        {{ todo.message }}
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="todo.type == 'bot'" class="bot">
      <ion-card-content>
        <u (click)="definition('G day', 'Good day')" ion-text color="primary">G'day</u> mate! Are you ready to practice with an <u (click)="definition('aussie', 'Australian')" ion-text color="primary">aussie</u>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-footer bottom>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <ion-input #message type="text" placeholder="Type your message here."></ion-input>
          </ion-col>
          <ion-col col-2>
            <button ion-fab color="secondary" (click)="sendMessage(message.value)" >
              <ion-icon name="send"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-content>
